<meta charset="utf-8">
	<title>{{ settings:site_name }} &bull; {{ template:title }}</title>
	
	{{ template:metadata }}

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Toni Haryanto">

	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	{{ theme:css file="bootstrap.css" }}
	{{ theme:css file="bootstrap-responsive.css" }}
	{{ theme:css file="bootswatch.css" }}
	{{ theme:css file="main.css" }}
	
	{{ theme:js file="holder.js" }}